---
esphome:
  name: sound-level-meter

external_components:
  - source: github://stas-sl/esphome-sound-level-meter

esp32:
  board: esp32dev
  cpu_frequency: 240MHz
  framework:
    type: esp-idf

logger:
  level: DEBUG

i2s_audio: 
  i2s_lrclk_pin: GPIO18
  i2s_bclk_pin: GPIO23

microphone:
  - platform: i2s_audio
    id: mic
    adc_type: external
    i2s_din_pin: GPIO19
    channel: left
    sample_rate: 48000
    bits_per_sample: 32bit
    i2s_mode: primary

sound_level_meter:
  microphone: 
    microphone: mic
    bits_per_sample: 32

  update_interval: 1s
  mic_sensitivity: -26dB
  mic_sensitivity_ref: 94dB

  sensors:
    - type: eq
      name: Leq_1s
